<header id="header" class="alt">
  <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  <nav>
    <a href="#menu">Menu</a>
  </nav>
</header>

<!-- Menu -->
<nav id="menu">
  <div class="inner">
    <h2>Menu</h2>
    <ul class="links">
      <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
      {% for my_page in site.pages %}
        {% if my_page.menu %}
        <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
        {% endif %}
      {% endfor %}
      <li><a href="#">Log In</a></li>
      <li><a href="#">Sign Up</a></li>
    </ul>
    <a href="#" class="close">Close</a>
  </div>
</nav>

<!-- Banner -->
<section id="banner">
  <div class="inner">
    <div class="logo"><span class="icon fa-diamond"></span></div>
    <h2>{{ site.title }}</h2>
    <p>{{ site.description }}</p>
  </div>
</section>